<section class="card d-flex justify-content-center w-100">
  <!-- Title of the project -->
  <header class="title-container">
    <h2 class="project-title text-center">Through The Looking Glass</h2>
  </header>

  <!-- Image section -->
  <figure
    class="img-container d-flex justify-content-center align-items-center"
  >
    <img
      class="project-img"
      src="/images/through-the-looking-glass.jpg"
      alt="project 1, through the looking glass"
    />
    <!--  caption for the image -->
    <figcaption class="visually-hidden">
      Through The Looking Glass project image
    </figcaption>
  </figure>

  <div class="project-description text-center d-flex justify-content-center">
    <p>
      Using HTML5, JS, and CSS, the project challenges viewers to question their
      understanding through surreal imagery and symbolic motifs.
    </p>
  </div>
</section>
