html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: #e2b714;
  background-color: #000000;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  gap: 1.75rem;
}

.card-title {
  font-size: 2.25rem;
}

.card-img {
  min-width: 70%;
}

.technologies-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.technologies-list li {
  font-size: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-text {
  font-size: 1.5rem;
}

.technologies-container h3 {
  font-size: 2.25rem;
}

@media only screen and (min-width: 768px) {
  .card-title {
    font-size: 3rem;
  }

  .card-text {
    font-size: 1.85rem;
  }

  .technologies-container h3 {
    font-size: 2.5rem;
  }

  .technologies-list li {
    font-size: 2rem;
  }

  .card:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 992px) {
  .card-title {
    font-size: 4rem;
  }

  .card-img {
    width: 50%;
  }
}
