<!-- <a href="{{ cardLink }}" class="card-link">
  <article class="card" style="width: 50rem">
    <figure>
      <h2 class="card-title">{{ cardTitle }}</h2>
      <img
        class="card-img-top"
        [src]="imgUrl"
        alt="Card image"
        [width]="cardImageWidth"
        [height]="cardImageHeight"
      />
    </figure>
    <section class="card-body">
      <p class="card-text">
        {{ projectDesc }}
      </p>
    </section>
  </article>
</a> -->

<article class="card" (click)="getLink()">
  <figure
    class="d-flex justify-content-center align-items-center flex-column gap-4"
  >
    <h2 class="card-title text-center">{{ project.name }}</h2>
    <img
      class="card-img"
      [src]="project.imgUrl"
      alt="Project image of {{ project.name }}"
    />
  </figure>
  <section
    class="card-body d-flex justify-content-center align-items-center flex-column"
  >
    <p class="card-text text-center">
      {{ project.desc }}
    </p>
    <div class="technologies-container">
      <h3 class="text-center">Utilized Technologies</h3>
      <ul class="technologies-list flex-wrap">
        <li *ngFor="let tech of project.technologies">{{ tech }}</li>
      </ul>
    </div>
  </section>
</article>
