<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container-fluid justify-content-between">
      <img
        class="logo-img"
        src="/images/personal-logo.svg"
        alt="personal-logo"
        style="max-height: 70px"
      />

      <!-- Navbar Toggler (for mobile) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse flex-grow-1 justify-content-center"
        id="navbarNav"
      >
        <ul
          class="navbar-nav d-flex justify-content-center align-items-center"
          [ngClass]="{ 'navbar-scrolled': isScrolled }"
        >
          <li class="nav-item">
            <a
              class="nav-link text-center"
              ariaCurrentWhenActive="page"
              routerLink="/"
              routerLinkActive="activeLink"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-center"
              ariaCurrentWhenActive="page"
              routerLink="/about"
              routerLinkActive="activeLink"
              [routerLinkActiveOptions]="{ exact: true }"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-center"
              ariaCurrentWhenActive="page"
              routerLink="/projects"
              routerLinkActive="activeLink"
              [routerLinkActiveOptions]="{ exact: true }"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a
              ariaCurrentWhenActive="page"
              class="nav-link text-center"
              routerLink="/contact"
              routerLinkActive="activeLink"
              [routerLinkActiveOptions]="{ exact: true }"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="invisible">Placeholder</div>
    </div>
  </nav>
</header>

<main class="router-container">
  <router-outlet></router-outlet>
</main>

<div class="container-fluid pb-0 mb-0 justify-content-center text-light">
  <footer>
    <div class="row justify-content-center py-5">
      <div class="col-11">
        <div class="row">
          <div
            class="footer-heading col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a"
          >
            <h3 class="text-muted mb-md-0 mb-5 bold-text">
              Let's work together.
            </h3>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text"><b>Menu</b></h6>
            <ul class="footer-nav">
              <li>
                <a
                  routerLink="/"
                  routerLinkActive="activeLink"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/about"
                  routerLinkActive="activeLink"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >About</a
                >
              </li>
              <li>
                <a
                  routerLink="/projects"
                  routerLinkActive="activeLink"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Projects</a
                >
              </li>
              <li>
                <a
                  routerLink="/contact"
                  routerLinkActive="activeLink"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
              <b>Contact</b>
            </h6>
            <p class="mb-1 address">Sta. Cruz, Porac Pampanga, Philippines.</p>
            <p class="mb-1 address">+63 965 124 9251</p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end"
          >
            <p class="social text-muted mb-0 pb-0 bold-text">
              <span class="mx-2">
                <a
                  href="https://www.linkedin.com/in/jimwell-manalo                "
                  target="_blank"
                >
                  <img src="icons/linked-in.svg" alt="linkedIn link" />
                </a>
              </span>
              <span class="mx-2">
                <a href="mailto:jimwelllmanalo@gmail.com">
                  <img src="icons/mail.svg" alt="Email link" />
                </a>
              </span>
              <span class="mx-2">
                <a href="https://github.com/jimwhell" target="_blank">
                  <img src="icons/github.svg" alt="github link" />
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
