html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #e2b714;
}

.navbar-collapse {
  /* border: 1px solid black; */
}

.invisible {
  display: none;
}

.navbar {
  /* border: 1px solid #fff; */
}

.navbar-nav {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  border-radius: 15px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, padding 0.3s ease,
    border-radius 0.3s ease, top 0.3s ease;
  font-weight: 500;
}

.router-container {
  margin: 5rem 2rem 5rem 2rem;
}

.navbar .nav-link {
  color: #e2b714;
}

.nav-item .nav-link {
  width: 5.5rem;
}

.logo-img {
  margin-left: 2rem;
}

.navbar-scrolled {
  background-color: rgba(39, 39, 40, 0.95);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 15px;
  position: fixed;
  top: 1;
  transition: background-color 0.3s ease, padding 0.3s ease,
    border-radius 0.3s ease, top 0.3s ease;
  z-index: 1000;
  border: 5px;
}

.activeLink {
  /* background-color: #646669;
  border-radius: 20px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  transition: background-color 0.5s ease, padding 0.6s ease,
    border-radius 0.5s ease; */
  border-bottom: 2px solid #e2b714;
  /* transition: border-bottom 0.5s; */
}

/* .container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
} */

footer {
  color: #e2b714 !important;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

/* .bold-text {
  color: #989c9e !important;
} */

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: 4rem;
  color: #e2b714 !important;
  line-height: 0.7;
}

h6 {
  font-size: 2rem;
  color: #e2b714 !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.footer-nav li a {
  font-size: 1.5rem;
}

.address {
  font-size: 1.5rem;
}

.social-links .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
}

/*Desktop viewport */
@media only screen and (min-width: 992px) {
  .invisible {
    display: block;
    padding-left: 3rem;
  }

  .navbar-nav {
    display: flex;
    gap: 3rem;
  }

  .router-container {
    /* min-height: 100vh; */
    margin: 6rem 4rem 10rem 4rem;
  }
}
