<section>
  <div
    class="banner-section d-flex flex-column justify-content-center align-items-start"
  >
    <div class="banner-headings d-flex flex-column">
      <h1 class="main-heading">
        {{ mainHeading }}
      </h1>
    </div>
  </div>

  <div class="about-section">
    <p>
      {{ aboutText }}
    </p>
  </div>

  <div class="projects-section">
    <h2 class="projects-heading text-justify">{{ projectsHeading }}</h2>
    <div class="projects-container">
      <app-project-card
        *ngFor="let project of projectsList"
        [project]="project"
      ></app-project-card>
    </div>
  </div>
</section>
