<section>
  <div
    class="banner-section d-flex flex-column justify-content-center align-items-start"
  >
    <div class="banner-headings d-flex flex-column">
      <h1 class="main-heading">
        Hi. I am Jimwell Manalo, and I am a backend developer.
      </h1>
    </div>
  </div>

  <div class="about-section">
    <h2>
      {{ aboutText }}
    </h2>
  </div>

  <div class="projects-section">
    <h2 class="projects-heading text-justify">{{ projectsHeading }}</h2>
    <div
      class="projects-container d-flex justify-content-center align-items-center flex-wrap"
    >
      <app-card
        *ngFor="let project of projectsList"
        [project]="project"
      ></app-card>
    </div>
  </div>
</section>
