html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.banner-section {
  gap: 5rem;
  font-size: 2rem;
  line-height: 1;
}

.banner-headings {
  gap: 1rem;
}

.banner-section .main-heading {
  font-size: 4rem;
  line-height: 0.7;
}

.banner-headings .secondary-heading {
  font-size: 2.5rem;
  line-height: 0.7;
}

.banner-tagline .tagline {
  font-size: 1.5rem;
}

.projects-section .projects-heading {
  font-size: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

/* tablet viewport */
@media only screen and (min-width: 768px) {
  .banner-headings .main-heading {
    font-size: 6rem;
  }

  .banner-headings .secondary-heading {
    font-size: 3rem;
  }

  .banner-section .tagline {
    font-size: 2rem;
  }
}

/* desktop viewport */
@media only screen and (min-width: 992px) {
  .banner-section {
    gap: 4rem;
  }

  .banner-headings .main-heading {
    font-size: 12rem;
  }

  .banner-headings .secondary-heading {
    font-size: 5rem;
  }

  .projects-section .projects-heading {
    font-size: 12rem;
  }
}
