<section>
  <div
    class="banner-section d-flex flex-column justify-content-center align-items-center"
  >
    <div class="banner-headings d-flex flex-column">
      <h1 class="text-center main-heading">{{ mainHeading }}</h1>
      <h2 class="text-center secondary-heading">{{ secondaryHeading }}</h2>
    </div>

    <div class="banner-tagline">
      <p class="tagline text-center">{{ tagline }}</p>
    </div>
  </div>

  <div class="projects-section">
    <!-- <h2 class="projects-heading text-center">{{ projectsHeading }}</h2> -->
    <!-- <app-card></app-card> -->
  </div>
</section>
