<div class="project-card" (click)="goToProjectDetail()">
  <img [src]="project.imgUrl" [alt]="project.name" />
  <div class="project-card-content">
    <h3 class="project-title">{{ project.name }}</h3>
    <p class="project-desc">{{ project.desc }}</p>
    <div class="project-tech">
      <span *ngFor="let tech of project.technologies" class="tech-badge">{{
        tech
      }}</span>
    </div>
    <!-- <div class="project-buttons">
      <a [href]="project.link" target="_blank" class="project-btn"
        >View Project</a
      >
      <a [href]="project.repoLink" target="_blank" class="repo-btn"
        >GitHub Repo</a
      >
    </div> -->
  </div>
</div>
